// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #727272;
$light-gray: #F4F4F4;
$white: #FFFFFF;
$black: #222222;
$turquoise: #0BC9CD;
