// Specific CSS for your home-page
.img-background {
  height: 100vh;
  width: 100%;
  background-position: center;
  background-position: cover;
  position: absolute;
  top: 0px;
}



.card.search {
  padding: 15px;
  margin-top: 190px;
  width: 23rem;
  opacity: 0.90;
}
