
h2 {
  color: $black;
  padding: 24px;
  margin: 0px 0px 0px;
  border-bottom: 1px solid $light-gray;
}

.container {
  padding-left: 80px;
  padding-right: 80px;
}

#wrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 16px;
}

.host-name {
  color: #484848;
  padding: 12px;
  font-size: 24px;
  width: 100%;
  border-bottom: 1px solid $light-gray;
  grid-column-start: 1;
  grid-column-end: 8;
}

.description {
  grid-column-start: 1;
  grid-column-end: 8;
}
.address {
  grid-column-start: 1;
  grid-column-end: 8;
  grid-row-start: 2;
  grid-row-end: 3;
}

.img-terrace {
  width: 55%; // 55%
  height: 55%; // 55%
  border-radius: 5px;
  margin-top: 12px;
  vertical-align: bottom;
}

.check-dispo {
  grid-column-start: 9;
  grid-column-end: 13;
  grid-row-start: 2;
  grid-row-end: 3;
  position: relative;
  bottom: 0px;
  transition: 0.3s;
}


.check-dispo:hover {
  bottom: 4px;
}







