<h2> Liste de vos réservations</h2>
<% @bookings.each do |booking| %>
 <p><%= booking.terrace.name %></p>
  <p><%= booking.terrace.address %></p>
 <p><%= booking.start_date %></p>
 <p><%= booking.end_date %></p>
<% end %>
