<h2>TODO: Dashboard User</h2>
<h4>My list of terraces</h4>
<ul>
<% @user.terraces.each do |terrace| %>
  <li>
    <%= terrace[:name] %> -
    <%= link_to "Delete", user_terrace_path(terrace.user_id, terrace),
    method: :delete,
    data: { confirm: "Are you sure?" } %>
  </li>
<% end %>
</ul>
<br>
<%= link_to 'New terrace', new_user_terrace_path(@user.id) %>
