<div class="container">
  <h2>List of all terraces</h2>
  <div class="row">
    <% @terraces.each do |terrace| %>
      <div class="col-sm-4">
        <div class="card" style="width: 18rem;">
          <%= cl_image_tag terrace.photo.key, class: "card-img-top" %>
          <div class="card-body">
            <h5 class="card-title"><%= link_to terrace.name, terrace_path(terrace) %></h5>
            <p class="card-text"><%= terrace.description %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
